
.postform-modal .modal-inner-container {
    width: 50%;
    min-height: 5em;
    padding: 10px;
    background-color: var(--accent-background);
}

.postform-modal h1 {
    margin-top: 0;
}
.postform-modal textarea {
    width: calc(100% - 10px);
    min-height: 10em;
}
.postform-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
